$font-color: #553D67;
$bg-color: #F64C72;
$primary-color: #F64C72;
$secondary-color: #553D67;
$font-2: #495C76B2;
$font-white: #FFFFFF;
$overlay-color: #6D535780;

$font-mulish: 'Mulish', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$bg-image: url('../../assets/hero.png');