@use '../globals/mixins' as mi;
@use '../globals/variables' as vars;

.about {
    @include mi.flex-center;

    &__content {
        max-width: 60rem;
        padding: 3rem 0;
        text-align: center;
        margin-top: -10rem;
        z-index: 1;
        background-color: vars.$font-white;
        box-shadow: 0 0 1rem rgba(black, 0.3);
        border-radius: 0.2rem;

        @include mi.respo('tablet') {
            padding: 2rem 0;
        }
    }

    &__title {
        @include mi.flexcol-center;
        gap: 1rem;
        padding: 2rem;
    }

    &__title h1 {
        @include mi.font-style(3rem, 400, vars.$secondary-color, vars.$font-mulish);
    }

    &__line {
        width: 10rem;
        height: 0.2rem;
        // margin-bottom: 2rem;
        background-color: vars.$primary-color;
        border-color: vars.$primary-color;
    }

    &__desc {
        @include mi.flexcol-center;
        padding: 0 8rem;
        text-align: center;
        @include mi.font-style(1rem, 400, vars.$font-gray, vars.$font-open-sans);
        @include mi.respo('tablet') {
            padding: 0 2rem;
        }

        &__two,
        &__one {
            padding: 0 1rem;
        }
    }

    &__progress {
        // @include mi.flex-center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
        position: relative;
        margin-top: 1.5rem;
        margin: 0 2rem;

        // @include mi.respo('tablet') {
        //     display: hidden;
        // }
        @include mi.respo('tablet') {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: vars.$secondary-color;
            z-index: -1;
            width: 90%;
            margin: 0 auto;
        }

        &__main {
            position: relative;
            @include mi.flexcol-center;
        }

        &__circle {
            position: relative;
            z-index: 1;
            padding: 0.2rem;
            border: 1px solid vars.$secondary-color;
            @include mi.flex-center;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            background-color: vars.$font-white;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &__title {
            @include mi.font-style(1.2rem, 400, vars.$font-gray, vars.$font-open-sans);
            text-transform: uppercase;
            width: 60%;
            // margin-top: rem;
            text-align: start;
            margin-left: auto;
        }
    }

}