@use '../globals/mixins' as mi;
@use '../globals/variables' as vars;


.achievements {
    @include mi.flexcol-center;
    gap: 2rem;
    margin: 8rem 0 0 0;
    position: relative;

    &__cards {
        display: flex;
        margin-bottom: -8rem;
        z-index: 1;
        gap: 1.5rem;
        width: 95%;
        margin: 0 4rem -8rem 4rem;
        max-width: 1140px;

        @include mi.respo('tablet') {
            flex-direction: column;
            @include mi.flex-center;
        }
    }

    &__card {
        background-color: vars.$font-white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 24rem;
        padding: 2rem 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-0.5rem);
            box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
        }

        &__image {
            margin-bottom: 1rem;

            img {
                width: 6rem;
                height: 5rem;
                object-fit: contain;
            }
        }

        &__content {
            &__title {
                @include mi.font-style(1.5rem, 400, vars.$font-color, vars.$font-mulish);
                margin-bottom: 0.5rem;
            }

            &__desc {
                @include mi.font-style(1.2rem, 300, vars.$font-gray);
            }
        }
    }

    &__main {
        width: 100%;
        padding: 4rem 0;
        background-color: vars.$primary-color;
        @include mi.flexcol-center;
        color: vars.$font-white;
        margin-top: 2rem;

        &__title {
            @include mi.font-style(2.5rem, 700, vars.$font-white, vars.$font-mulish);
            margin: 2rem 0 1rem 0;
        }

        &__desc {
            width: 50%;
            @include mi.font-style(1.1rem, 400, vars.$font-white, vars.$font-open-sans);
            text-align: center;

            @include mi.respo('tablet') {
                width: 80%;
            }
        }

        &__numbers {
            margin: 2rem 0;
            display: flex;
            gap: 2rem;
            width: 60%;
            justify-content: space-between;

            @include mi.respo('mobile') {
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-around;
                align-items: center;

                &__number {
                    width: 45%;
                    @include mi.flexcol-center;
                }
            }

            &__number {
                @include mi.flexcol-center;
                // gap: 0.5rem;

                &__value {
                    margin: 0;
                    @include mi.font-style(2.5rem, 700, vars.$font-white, vars.$font-mulish);
                }

                &__desc {
                    margin: 0;
                    font-size: 0.8rem;
                    font-family: vars.$font-open-sans;
                    @include mi.font-style(0.8rem, 400, vars.$font-white, vars.$font-open-sans);
                    text-transform: uppercase;
                }
            }
        }
    }
}