@use '../globals/mixins' as mi;
@use '../globals/variables' as vars;

.hero {
    background-image: url('../assets/hero.png');
    // width: 100%; 
    // height: 36rem;
    margin-bottom: 4.8rem;
    padding: 10rem 3.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include mi.flex-center;
    
    &__content {
        height: 100%;
        @include mi.flexcol-center;
        max-width: 34rem;        
    }

    &__title {
        @include mi.font-style(3rem, 800, vars.$font-white, vars.$font-mulish);
        text-align: center;
        margin: 0;
        line-height: 3.5rem;
        // margin-bottom: 2.4rem;
    }

    &__desc {
        @include mi.font-style(1.2rem, 700, vars.$font-white);
        text-align: center;
        margin-bottom: 3rem;
    }

    &__form {
        width: 100%;
        display: flex;
        gap: 1rem;
        
        @include mi.respo('tablet') {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            &__input {
                width: 100%;
            }
        }
        &__input {
            padding: 1rem;
            border-radius: 0.2rem;
            width: 100%;
            @include mi.font-style(1rem, 500, vars.$font-2, vars.$font-open-sans);
        }
        &__btn {
            padding: 1rem 2rem;
            border-radius: 0.2rem;
            background-color: vars.$bg-color;
            white-space: nowrap;
            color: vars.$font-white;
            font-family: vars.$font-open-sans;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            
        }
    }
}