@use '../globals/mixins' as mi;
@use '../globals/variables' as vars;

.team {
    margin: 3rem 0;
    @include mi.flexcol-center;

    &__title {
        @include mi.flexcol-center;
        gap: 1rem;
        padding: 2rem;
    }

    &__title h1 {
        font-size: 3rem;
        @include mi.font-style(3rem, 400, vars.$secondary-color, vars.$font-mulish);
    }

    &__line {
        width: 5rem;
        height: 0.2rem;
        background-color: vars.$primary-color;
    }

    &__carousel {
        position: relative;
        // overflow: hidden;
        padding: 2rem;
        margin: 0 2rem;
        overflow-x: scroll;

        &__track {
            display: flex;
            gap: 2rem;
            transition: transform 0.5s ease;

            @include mi.respo('mobile') {
                gap: 1rem;
                flex-direction: column;
            }
        }

        &__card {
            flex: 0 0 300px;
            // width: 20rem;
            background: #fff;
            border-radius: 0.5rem;
            // padding: 1.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;

            &__image img {
                width: 100%;
                height: 15rem;
                border-radius: 0.5rem 0.5rem 0 0;
                object-fit: cover;
                background-position: center top;
                // margin-bottom: 1rem;
            }

            @include mi.respo('mobile') {
                flex: 0 0 100%;
                width: 20rem;
            }

            &__content {
                padding: 0.5rem 1.5rem;

                &__name {
                    text-align: start;
                    margin-bottom: 0;
                    @include mi.font-style(1.5rem, 600, vars.$secondary-color, vars.$font-mulish);

                }

                &__role {
                    margin-top: 0.2rem;
                    margin-bottom: 1rem;
                    @include mi.font-style(1rem, 400, vars.$font-2);
                    text-align: start;
                }

                &__desc {
                    @include mi.font-style(1.2rem, 400, vars.$font-2);
                    text-align: start;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 0rem;
        margin: 2rem 0;

        @include mi.respo('tablet') {
            // flex-direction: column;
            // gap: 1rem;
            display: none;
        }

        &__btn {
            background: vars.$font-white;
            @include mi.font-style(1.2rem, 500, vars.$secondary-color);
            padding: 0.5rem 1rem;
            cursor: pointer;
            border: none;
        }
    }
}